}
html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #101e34;
  overflow: hidden;
}

.background-cover {
  width: 100%;
  min-width: 100%;
  height: 100%;
  background-color: #1a1a2a;
    /*-webkit-background-image: radial-gradient(circle, transparent 0%, #0a0b13 100%), url(../images/[NOISEIMAGEHERE]);
  background-image: radial-gradient(circle, transparent 0%, #0a0b13 75%), url(../images/[NOISEIMAGEHERE]);*/
  -webkit-background-size: auto;
  background-size: auto;
  background-position: center;
  z-index: 0;
}

.background-text {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 130px;
  line-height: 1;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  top: 65px;
  margin: 0;
  cursor: default;
}

.background-text .blue {
  color: #46aeff;
}

.background-text .red {
  color: #ff4646;
}

#thePie {
  position:absolute;
}

.pai-container {
  width: 1000px;
  height: 1000px;
  position: fixed;
  bottom: 0;
}

.pai-container .pai-inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -o-transform: translateY(30%);
  transform: 30%;
}

.pai-container .pai-cont {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  margin-left: 15%;
}

.pai-container .pai-int {
  width: 100%;
  height: 100%;
  background-image: url('../images/pai_main.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: 100% 100%;
  background-position: 100% 0;
  transform:translateX(-10%);
}
